.nav__item {
  cursor: pointer;
  color: lightslategrey;
  font-size: 18px;
  margin-left: 15px;
  transition: color 0.3s ease;
  &:hover {
    color: white;
  }
}

.user {
  border: 1px solid lightslategrey;
  border-radius: 5px;
  padding: 5px;
}

.app__name {
  color: lightslategrey;
  font-size: 24px;
}
