.container {
  position: relative;
  top: -10vh;
  background-color: #1f1f1f;
  border-radius: 7px;
  padding: 0 20px !important;
  width: 40vw;
}

.error {
  color: red;
  margin-bottom: 15px;
  font-size: 18px;
}
