@import "~antd/dist/antd.dark.css";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

.App {
  text-align: center;
  background-color: slategray;
}

.h100 {
  height: calc(100vh - 64px);
}
